name: Release

on:
  push:
    tags:
      - '*'

jobs:
  build:
    name: Build JSON RPC
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm install --frozen-lockfile

      - name: Build specs and website
        run: |
          npm run build
          npm run build:docs

      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v4
        with:
          name: openrpc.json
          path: |
            ${{ github.workspace }}/openrpc.json

      - name: release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifacts: "*.json"
